* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background-color: #f6f6fe;
  color: #2e2f42;
  line-height: 1.5;
}

/* task-1 */
#categories {
  list-style: none;
  padding: 0;
}

.item {
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 16px;
}

.item h2 {
  /* font-family: Montserrat; */
  font-size: 16px;
  /* font-weight: 400; */
  letter-spacing: 0.64px;
  margin-bottom: 16px;
}

.item ul {
  margin-top: 16px;
  padding: 0;
}

.item ul li {
  border-radius: 4px;
  border: 1px solid #808080;
  /* font-family: Montserrat; */
  font-size: 16px;
  /* font-weight: 400; */
  letter-spacing: 0.64px;
  margin-bottom: 8px;
  padding: 8px;
  margin-left: 16px;
}

/* task-2 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 48px 24px;
}

.gallery li {
  margin: 10px;
  width: calc(33.333% - 20px);
}

.gallery img {
  width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
}

/* task-3 */
#name-input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0.64px;
  padding: 8px 16px;
}

#name-input::placeholder {
  font-size: 16px;
  letter-spacing: 0.64px;
  margin-left: 16px;
}

#name-input:hover,
#name-input:focus {
  border: 1px solid #000000;
}

h1 {
  /* font-family: Montserrat; */
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.96px;
  margin-top: 8px;
  margin-bottom: 16px;
}

/* task-4 */
.login-form {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 24px;
}

label {
  /* font-family: Montserrat; */
  font-size: 16px;
  /* font-weight: 400; */
  letter-spacing: 0.64px;
  margin-bottom: 8px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
}

button {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  /* font-family: Montserrat; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  width: max-content;
  cursor: pointer;
  padding: 8px 16px;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

/* task-5 */
.widget {
  text-align: center;
  margin-top: 100px;
}

.widget p {
  /* font-family: Montserrat; */
  font-size: 16px;
  /* font-weight: 400; */
  letter-spacing: 0.64px;
  margin-bottom: 16px;
}

.widget .change-color {
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  /* font-family: Montserrat; */
  font-size: 16px;
  /* font-weight: 400; */
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 8px 16px;
}

.widget .change-color:hover {
  background-color: #6c8cff;
}

/* task-6 */
#controls {
  text-align: center;
  padding: 32px;
}

#controls input {
  display: inline;
  text-align: center;
  box-sizing: border-box;
  width: 150px; /* 60px */
  height: 45px;
  padding: 8px 0; /* 8px 72px */
}

#controls button {
  margin: 16px;
}

.button-red {
  background-color: #ff4e4e;
}

.button-red:hover,
.button-red:focus {
  background-color: #ff7070;
}

#boxes {
  display: flex;
  gap: 16px;
  padding: 32px;
}
